*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #121212;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.header{
    font-size: 12vh;
    font-weight: 1000;
    position: relative;
    color: transparent;
    background-image: url('img.svg');
    -webkit-background-clip: text;
}

.header-mirror{
    position: absolute;
    top: 90%;
    left: 46%;
    filter: blur(1px);
    transform: translate(-47%,-46%) scale(-1) rotateY(180deg) rotateX(70deg) skew(10deg);
}